<suite name="Main_MethodsSuite">
	<test name="Main_MethodsTest">
	
	 <groups>
        <run>
            <include name="smoke" />
        </run>
    </groups>
    
		<classes>
			<class name="com.oneapp.test_suits.Main_Methods">
      </class>
		</classes>
	</test> <!-- Main_MethodsTest -->
</suite> <!-- Main_MethodsSuite -->
